<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}"/>


    <title>Text Hunt</title>

</head>


<body>
    <h1>
        Text Hunt
    </h1>

    <div>
        <form class = "container" action="search/go" method="POST">
            <div>
                <input name = "term" type="text">
                <button>go</button>
            </div>
            
                {%for tag in tags%}
                <div class = "box">
                    <input id = "{{loop.index}}" type="checkbox" name = "tags" value = {{tag}}></input>
                    <span class = "check"></span>
                    <label for="{{loop.index}}">{{tag}}</label>
                </div>
                {%endfor%}
        </form>
    </div>
    
</body>