<head>


    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" type = "text/css" href = "style.css">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/home.css') }}"/>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/search.css') }}"/>


    <title>Text Hunt</title>

</head>


<body>
    <h1>
        Text Hunt
    </h1>

    <div>
        <form action="search/go" method="GET">
            <input name = "term" type="text">
            <button>go</button>

            {%for tag in tags%}
            <input type="checkbox" name = {{tag}}>
            {%endfor%}
        </form>
    </div>
    
</body>