.container {
    display: flex;
    flex-direction: column;
    
}

.user {
    display: flex;
    flex-direction: column;
    height: 80vh;
}

.info {
    color: rgb(26, 26, 49);
    font-weight: bold;

}

.highlight {
    background-color: yellow;
}